<!-- table to show the details -->
<style>
    th{
        color:aliceblue
    }
</style>
<table class="table">
    <thead class="" style="background-color:#307D7E">
        <tr>
            <th scope="col">Sno</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Complete Address</th>
            <th scope="col">Traniee Preference</th>
            <th scope="col">Physio Required</th>
            <th scope="col">Package</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody style="background-color:#CFECEC">
        <tr>
            <td scope="row">1</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">2</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">3</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">4</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">5</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">6</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">7</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">8</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">9</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">10</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">11</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">12</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
        <tr>
            <td scope="row">13</td>
            <td>Ankit</td>
            <td>9876543210</td>
            <td>ankit@gmail.com</td>
            <td>24</td>
            <td>xyz, India</td>
            <td>male</td>
            <td>Yes</td>
            <td>Gold</td>
            <td>4000</td>

        </tr>
    </tbody>
</table>